[submodule "RBDReference"]
	path = RBDReference
	url = git@github.com:A2R-Lab/RBDReference.git
[submodule "GRiDCodeGenerator"]
	path = GRiDCodeGenerator
	url = git@github.com:A2R-Lab/GRiDCodeGenerator.git
[submodule "URDFParser"]
	path = URDFParser
	url = git@github.com:A2R-Lab/URDFParser.git
