absl-py==2.1.0
accessible-pygments==0.0.5
alabaster==1.0.0
babel==2.16.0
beautifulsoup4==4.12.3
black==24.10.0
certifi==2024.8.30
charset-normalizer==3.4.0
click==8.1.7
cmeel==0.53.3
cmeel-assimp==5.3.1
cmeel-boost==1.83.0
cmeel-console-bridge==1.0.2.2
cmeel-octomap==1.9.8.2
cmeel-qhull==8.0.2.1
cmeel-tinyxml==2.6.2.3
cmeel-urdfdom==3.1.1.1
colorama==0.4.6
docutils==0.21.2
eigenpy==3.4.0
favicon==0.7.0
flake8==7.1.1
furo==2024.8.6
hpp-fcl==2.4.1
idna==3.10
imagesize==1.4.1
Jinja2==3.1.4
lxml==5.1.0
markdown-it-py==3.0.0
MarkupSafe==3.0.2
mccabe==0.7.0
mdit-py-plugins==0.4.2
mdurl==0.1.2
mpmath==1.3.0
mypy-extensions==1.0.0
myst-parser==4.0.0
numpy==1.26.4
packaging==24.1
pathspec==0.12.1
pin==2.7.0
platformdirs==4.3.6
pycodestyle==2.12.1
pydata-sphinx-theme==0.16.0
pyflakes==3.2.0
Pygments==2.18.0
PyYAML==6.0.2
requests==2.32.3
ruff==0.5.1
setuptools==75.3.0
snowballstemmer==2.2.0
soupsieve==2.5
Sphinx==8.1.3
sphinx-basic-ng==1.0.0b2
sphinx-rtd-theme==3.0.1
sphinx-tabs==3.4.7
sphinx-togglebutton==0.3.2
sphinx_design==0.6.1
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
sympy==1.12
typing_extensions==4.12.2
urllib3==2.2.3
wheel==0.44.0
